body {padding: 0;margin: 0;border: 0;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}



@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


.button {
	padding: 12px 25px;
	background: #e43030;
	color: #fff;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 13px 22.08px 1.92px rgba(250, 25, 25, 0.45);

}
.button:active {
	box-shadow: inset 0 3px rgba(127,24,24,1);
}


body {
	font-family: 'Gotham Pro';
}

.header {
	max-width: 1900px;
}
.header__body {
	max-width: 1400px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;

	padding: 10px 0;
}
.header__logo {
	display: flex;
	align-items: center;
}
.logo {}
.header__menu {}
.menu {
	display: flex;
}
.menu__item {
	padding-left: 35px;
}
.menu__link {
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	padding: 10px;
}

.content {
	background: #f1f1f1;
}
.content__body {
	max-width: 1400px;
	margin: 0 auto;
}
.cards {
	margin-bottom: 120px;
}
.cards__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 16px 0 10px 0;
}
.cards__headline {
	font-weight: medium;
	font-size: 30px;
}
.cards__button {}
.block {
	display: flex;
	flex-direction: column;
}
.block:hover {
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}
.block__row {
	display: flex;
	flex-direction: column;
	background: #ffffff;
}
.view {
	position: relative;
}
.view__front {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 82px;
	height: 29px;
	background-image: url('../img/cards/FRONT.png');
}
.view__heart {
	position: absolute;
	width: 30px;
	height: 28px;
	top: 10px;
	right: 20px;
	background-image: url('../img/cards/heart.png');
}
.view__headline {
	position: absolute;
	bottom: 15px;
	left: 20px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.block__address {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	padding: 20px 23px 0 23px;
}
.block__address a {
	display: block;
	margin-right: 10px;

	font-size: 14px;
	color: #606162;
	text-align: left;
	max-width: 265px;
}
.block__address img {
	width: 24px;
	height: 24px;
}
.block__price {
	display: flex;
	align-items: center;

	padding: 13px 0 24px 23px;
}
.block__price span {}
.price {
	padding: 10px 5px;
	background: #fffbd7;
	font-size: 18px;
	color: #161617;
	margin-right: 6px;
}
.block__price span:last-child {
	font-size: 12px;
	color: #80848d;
}
.block__text {
	max-width: 400px;
}


.box {
	display: flex;
}
.box__colum {
	display: flex;
	justify-content: flex-end;
}
.box__colum:first-child {
	background: #fafafa;
	width: 65%;
}
.box__colum:last-child {
	justify-content: center;
	width: 35%;
}
.offers {
	display: flex;
	flex-direction: column;
	padding: 48px 50px 50px 0; 
	max-width: 1010px;
}
.offers__row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 0;
}
.offers__row .block:first-child {
	margin-right: 20px;
}
.offers__row:first-child {
	margin-bottom: 30px;
	align-items: center;
}
.offers__headline {
	font-size: 30px;
}
.offers__button {}

.subscribe{
	max-width: 395px;
	display: flex;
	align-items: center;
	margin-right: 100px;
}
.subscribe__block {
	display: flex;
	flex-direction: column;

}
.subscribe__row {}
.subscribe__row:first-child {
	padding-top: 50px;
	margin-bottom: 40px;
}
.subscribe__headline {
	width: 255px;
}
.subscribe__headline h1 {
	font-size: 30px;
	font-weight: bold;
	color: #48494a;
	margin-bottom: 20px;
}
.subscribe__headline span {
	color: #535455
}
.form {}
.mail {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
.mail__call {
	margin-bottom: 15px;
}
.mail__input {
	padding: 18px 21px;
}
.subscribe__button {
	padding: 20px 99px;
	border: none;
	background: #ff0000;
	color: #ffffff;
	text-transform: uppercase;
}
.subscribe__button:active {
	box-shadow: inset 0 3px rgba(127,24,24,1);
}


.footer {
	max-width: 1400px;
	margin: 0 auto;
}
.footer__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 100px;
	height: 95px;
}
.footer__social {

}
.footer__headline {
	color: #80868e;
	font-size: 16px;
}
.footer__icons {}
.footer__icons img {
	margin-right: 30px;
}
.footer__developer {
	display: flex;
	align-items: center;
}
.footer__logo {
	margin-right: 10px;
}
.footer__info {
	display: flex;
	flex-direction: column;
}
.footer__info span:first-child {
	font-size: 12px;
	color: #80868e;
	margin-bottom: 5px;
}
.footer__info span:last-child {
	font-weight: bold;
	font-size: 15px;
}
